<div class="container margin_100_55">
  <div class="row">
    <div class="col-lg-12 profile">
      <%= render 'profiles/profile_header', user: @user %>
      <div class="body px-tablet">
        <% if @boards.any? %>
          <div id="boards" class="with-shadow">
            <%= render(Boards::BoardComponent.with_collection(@boards, options: { current_user: current_user })) %>
          </div>
          <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy)) %>
        <% else %>
          <div class="no-data">
            <% if @user == current_user %>
              <p><%= t('boards.index.no_data_for_current_user') %></p>
              <%= link_to t('.create_new_board'), new_board_path, class: 'btn_1 outline' %>
            <% else %>
              <p><%= t('boards.index.no_data') %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>