<% set_meta_tags alternate: { "en" => profile_url(@user, locale: :en),
                              "tr" => profile_url(@user, locale: :tr) } %>
<div class="container margin_100_55 profile">
  <%= render 'profiles/profile_header', user: @user %>
  <% marker_service = MapServices::GenerateMarkers::Pin.call(@user.pins) %>
  <% if marker_service[:success] && marker_service[:payload].present? %>
    <div class="profile-map">
      <%= render(General::MapComponent.new(markers: marker_service[:payload])) %>
    </div>
  <% end %>
  <br>
  <div id="infinite-pins" class="body infinite-pins">
    <% if @user_pins.any? %>
      <%= render(Pins::PinComponent.with_collection(@user_pins, current_user: current_user)) %>
    <% else %>
      <div class="no-data">
        <% if @user == current_user %>
          <p><%= t('.no_data_for_current_user') %></p>
          <%= link_to t('pins.new.create_pin'), new_pin_path, class: 'btn_1 outline' %>
        <% else %>
          <p><%= t('.no_data') %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render(General::InfiniteScrollPagyComponent.new(pagy: @user_pins_pagy)) %>
</div>