<div class="dropdown dropleft add-pin-to-board-dropdown" data-controller="dropdown">
  <%= link_to '#', class: "#{klass}", id: 'add-pin-to-board-menu', data: { toggle: 'dropdown', 'aria-haspopup': true, 'aria-expanded': false } do %><% end %>

  <div class="dropdown-menu add-pin-to-board" aria-labelledby="add-pin-to-board-menu" data-action="click->dropdown#stopPropagation">
    <div class="header">
      <span><%= t('boards.add_to_board') %></span>
      <%= render(General::SearchComponent.new(path: add_to_board_list_boards_path(pin), current_user: current_user)) %>
    </div>
    <div class="body">
      <span><%= t('boards.boards') %></span>
      <%= turbo_frame_tag "add_to_board_list_body_#{dom_id(pin)}", src: add_to_board_list_boards_path(pin), loading: :lazy %>
    </div>
  </div>
</div>