<div class="dropdown dropleft add-pin-to-board-dropdown" id="add-pin-to-board-dropdown<%= dom_id(pin) %>" data-controller="dropdown"  data-dropdown-id-value="add-pin-to-board-dropdown<%= dom_id(pin) %>" >
  <%= link_to '#', class: "#{klass}", id: 'add-pin-to-board-menu', data: { toggle: 'dropdown', 'aria-haspopup': true, 'aria-expanded': false } do %><% end %>

  <div class="dropdown-menu add-pin-to-board" aria-labelledby="add-pin-to-board-menu" data-action="click->dropdown#stopPropagation turbo:frame-load->dropdown#updateButton" >
    <div class="header">
      <span><%= t('boards.add_to_board') %></span>
      <%= render(General::SearchComponent.new(path: add_to_board_list_boards_path(pin), current_user: current_user)) %>
    </div>
    <div class="body">
      <span><%= t('boards.boards') %></span>
      <%= turbo_frame_tag "add_to_board_list_body_#{dom_id(pin)}", src: add_to_board_list_boards_path(pin), loading: :lazy do %>
        <div class="d-flex justify-content-center">
          <div class="spinner-border pinmapper m-4" data-infinite-scroll-target="spinner"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>