<% caption_text = blob.try(:caption) || blob.filename %>
<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.representable? %>
    <%= link_to cloudfront_src(filters: "#{blob.metadata['width']}x#{blob.metadata['height']}/filters:format(jpeg)/filters:quality(40)", image_key: blob.key), title: (caption_text), class: 'gallery-item', data: { 'pswp-width': blob.metadata['width'], 'pswp-height': blob.metadata['height'] } do %>
      <%= image_tag cloudfront_src(filters: "#{local_assigns[:in_gallery] ? '800x600' : '1024x768'}/filters:format(jpeg)/filters:quality(40)", image_key: blob.key), class: 'blob-image', alt: caption_text %>
    <% end %>
  <% end %>

  <figcaption class="attachment__caption">
    <% if caption = blob.try(:caption) %>
      <%= caption %>
    <% else %>
      <span class="attachment__name"><%= blob.filename %></span>
      <span class="attachment__size"><%= number_to_human_size blob.byte_size %></span>
    <% end %>
  </figcaption>
</figure>
