<div class="container margin_100_35 reset-ol-ul">
  <div class="row">
    <div class="col-lg-9">
      <div class="bloglist pin-show">
        <div class="header">
          <div class="hrow">
            <div class="hrow">
              <%= render(Profiles::AvatarComponent.new(src: asset_pack_path('media/images/avatar.jpg'))) %>
              <%= link_to @pin.user.email, profile_path(@pin.user) %>
              <div class="soft-black-text"><i class="icon_clock_alt"></i> <%= l(@pin.created_at) %></div>
            </div>
            <div class="hrow">
              <%= render Pins::Boards::AddToBoardButtonComponent.new(pin: @pin, current_user: current_user) %>
              <%= render Pins::LikeButtonComponent.new(pin: @pin, current_user: current_user) %>
            </div>
          </div>
          <div class="hrow">
            <h1><%= @pin.name %></h1>
            <%= render(Pins::MoreButtonComponent.new(pin: @pin, current_user: current_user, turbo: false)) %>
          </div>
          <div class="hrow negative-margin-top">
            <div>
              <%= render(Pins::TagListComponent.new(tags: @pin.tags)) %>
            </div>
          </div>
        </div>
        <!-- /post meta -->
        <div class="post-content">
          <%= @pin.description %>
        </div>
        <!-- /post -->
      </div>
      <!-- /single-post -->
    </div>
    <!-- /col -->

    <aside class="col-lg-3 blog">
      <% nearby_pins = @pin.geocode.present? && @pin.nearbys(1).limit(3) %>
      <% if nearby_pins.present? %>
        <div class="widget">
          <div class="widget-title">
            <h4><%= t('.nearby_pins') %></h4>
          </div>
          <ul class="pins-list">
            <%= render(Pins::PinListItemComponent.with_collection(nearby_pins)) %>
          </ul>
        </div>
      <% end %>
      <!-- /widget -->
    </aside>
    <!-- /aside -->
  </div>
  <!-- /row -->
</div>
<!-- /container -->
