<% keywords = "#{@pin.cached_tag_list}, #{t('pin_base_keywords')}" %>
<% set_meta_tags alternate: { "en" => pin_url(@pin, locale: :en),
                              "tr" => pin_url(@pin, locale: :tr) },
                 description: @pin.cover_photo_description.presence || @pin.description&.body&.to_plain_text,
                 keywords: keywords.split(', ').uniq.join(', ') %>
<% first_image = @pin&.description&.embeds&.find { |embeds| embeds.image? } if @pin.cover_photo.blank? %>
<% og = {
      type:     'website',
      title: "#{@pin.name} - Pinmapper",
      description: @pin.cover_photo_description.presence || @pin.description&.body&.to_plain_text,
      site: :site,
      url: pin_url(@pin)
   } %>
<% twitter = {
      card: "summary_large_image",
      title: "#{@pin.name} - Pinmapper",
      description: @pin.cover_photo_description.presence || @pin.description&.body&.to_plain_text,
      site: :site,
      url: pin_url(@pin)
   } %>
<% image = cl_image_tag(@pin.cover_photo.key, transformation: [@pin.cover_photo_crop_constraints], quality: 'auto', flags: 'progressive') if @pin.cover_photo.present? %>
<% image = cl_image_tag(first_image.blob.key) if first_image.present? %>
<% if image.present? %>
  <% og[:image] = image %>
  <% twitter[:image] = image %>
<% end %>
<% set_meta_tags og: og %>
<% set_meta_tags twitter: twitter %>

<div class="container margin_100_55 reset-ol-ul pin-show">
  <div class="row">
    <div class="col-lg-9">
      <div class="pin-show-main">
        <div class="header">
          <div class="hrow">
            <div class="hrow">
              <% user_profile = @pin.user.profile %>
              <%= render(Profiles::AvatarComponent.new(src: cloudinary_url(user_profile.avatar.key, transformation: [user_profile.avatar_crop_constraints, { width: 200, height: 200, crop: 'fill' }], quality: 'auto', flags: 'progressive'))) %>
              <div class="vcolumn">
                <%= link_to @pin.user.username, profile_path(@pin.user), class: 'username' %>
                <small class="creation-time"><%= l(@pin.created_at) %></small>
              </div>
            </div>
            <div class="hrow">
              <%= render Pins::Boards::AddToBoardButtonComponent.new(pin: @pin, current_user: current_user) %>
              <%= render Pins::LikeButtonComponent.new(pin: @pin, current_user: current_user) %>
            </div>
          </div>
          <div class="address"><i class="icon_pin_alt"></i>
            <span><%= link_to @pin.city_country, explore_location_path(@pin.token), class: 'black-link-555' %></span>
          </div>
          <div class="hrow nowrap">
            <h1><%= title @pin.name %></h1>
            <%= render(Pins::MoreButtonComponent.new(pin: @pin, current_user: current_user, turbo: false)) %>
          </div>
          <div class="hrow negative-margin-top">
            <div class="tags"><%= render(Taggable::TagListComponent.new(tags: @pin.tags)) %></div>
          </div>
        </div>
        <div data-controller="gallery">
          <%= @pin.description %>
        </div>
        <div><%= render Pins::Boards::AddedByOwnerComponent.new(pin: @pin, current_user: @current_user) %></div>
      </div>
    </div>

    <aside class="col-lg-3 widgets">
      <% marker_service = MapServices::GenerateMarkers::Pin.call(@pin) %>
      <% if marker_service[:success] && marker_service[:payload].present? %>
        <div class="map-widget widget">
          <%= render(General::MapComponent.new(markers: marker_service[:payload])) %>
        </div>
      <% end %>
      <% nearby_pins = @pin.geocode.present? && @pin.nearbys(1).limit(3) %>
      <% if nearby_pins.present? %>
        <div class="widget">
          <div class="widget-title">
            <h4><%= t('.nearby_pins') %></h4>
          </div>
          <ul class="pins-list">
            <%= render(Pins::PinListItemComponent.with_collection(nearby_pins)) %>
          </ul>
        </div>
      <% end %>
    </aside>
  </div>
</div>
