<%= render(Pins::TopHeroComponent.new(title: t('pins.pin'))) %>

<p>
  <strong>Name:</strong>
  <%= @pin.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pin.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @pin.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @pin.longitude %>
</p>

<p>
  <strong>Category:</strong>
  <%= @pin.translated_category %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @pin.translated_privacy %>
</p>

<p>
  <strong>Cover image description:</strong>
  <%= @pin.cover_image_description %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
