<body id="register_bg">
	<nav id="menu" class="fake_menu"></nav>
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
	<div id="login">
		<aside>
			<figure>
        <%= link_to root_path do %>
          <%= image_pack_tag 'media/images/logo-sticky.png', size: '155x36', class: 'logo_sticky', 'data-retina': true, alt: '' %>
        <% end %>
			</figure>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), method: :put, html: { 'data-turbo' => 'false' }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group">
          <%= f.input :password, label: t('.new_password') , input_html: { class: 'form-control', id: 'password1' }, hint: t('devise.minimum_characters', count: @minimum_password_length) %>
          <i class="icon_lock_alt"></i>
        </div>
        <div class="form-group">
          <%= f.input :password_confirmation, label: t('.new_password_confirmation') , input_html: { class: 'form-control', id: 'password2' } %>
          <i class="icon_lock_alt"></i>
        </div>
        <%= f.button :submit, t('.change_my_password'), class: 'btn_1 rounded full-width add_top_30' %>
        <div class="text-center add_top_10">
          <%= t('devise.already_have_an_account') %>
          <strong>
            <%= link_to t('devise.sign_in'), new_user_session_path %>
          </strong>
          <br>
          <%= t('devise.do_not_have_an_account') %>
          <strong>
            <%= link_to t('devise.sign_up'), new_user_registration_path %>
          </strong>
        </div>
      <% end %>
			<div class="copy"><%= render 'shared/copy' %></div>
		</aside>
	</div>
	<!-- /login -->
</body>
