<body id="login_bg">
	<nav id="menu" class="fake_menu"></nav>
	<!-- End Preload -->
	<div id="login">
		<aside>
			<figure>
        <%= link_to root_path do %>
          <%= image_pack_tag 'media/images/logo-sticky.png', size: '155x36', class: 'logo_sticky', 'data-retina': true, alt: '' %>
        <% end %>
			</figure>
      <p><%= t('.send_reset_link_message') %></p>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), method: :post, html: { 'data-turbo' => 'false' }) do |f| %>
        <div class="form-group">
          <%= f.input :email, input_html: { class: 'form-control', id: 'email' } %>
          <i class="icon_mail_alt"></i>
        </div>
        <%= f.button :submit, t('.send_reset_link'), class: 'btn_1 rounded full-width' %>
        <div class="text-center add_top_10">
          <%= t('devise.already_have_an_account') %>
          <strong>
            <%= link_to t('devise.sign_in'), new_user_session_path %>
          </strong>
          <br>
          <%= t('devise.do_not_have_an_account') %>
          <strong>
            <%= link_to t('devise.sign_up'), new_user_registration_path %>
          </strong>
        </div>
      <% end %>
      <div class="copy"><%= render 'shared/copy' %></div>
		</aside>
	</div>
	<!-- /login -->
</body>