<footer>
  <div class="container margin_60_35">
    <div class="row links">
      <div class="col-lg-5 col-md-12 p-r-5">
        <%= link_to root_path do %>
          <%= inline_svg_pack_tag 'media/images/logo.svg', width: '150px', height: '36px', class: 'logo' %>
        <% end %>
        <ul class="links">
          <li><a href="#"><%= t('.about_us') %></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 ml-lg-auto">
        <h5><%= t('.follow_us') %></h5>
        <div class="follow_us">
          <ul>
            <li><a href="https://twitter.com/pinmapper"><i class="ti-twitter-alt"></i></a></li>
            <li><a href="https://www.instagram.com/pinmapper"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5><%= t('.contant_with_us') %></h5>
        <ul class="contacts">
          <li><a href="mailto:hello@pinmapper.com"><i class="ti-email"></i> hello@pinmapper.com</a></li>
        </ul>
      </div>
    </div>
    <!--/row-->
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <ul id="footer-selector">
          <li>
            <div class="dropdown show dropdown-lang">
              <a class="btn btn-secondary btn-sm dropdown-footer" href="#" role="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= I18n.locale == :tr ? "Türkçe" : "English" %>
                <i class="fa fa-globe"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownLang">
                <%= link_to "Türkçe", current_user.present? ? settings_switch_locale_path(locale: :tr) : { locale: :tr }, class: 'dropdown-item' %>
                <%= link_to "English", current_user.present? ? settings_switch_locale_path(locale: :en) : { locale: :en }, class: 'dropdown-item' %>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul id="additional_links">
          <li><a href="#"><%= t('.terms_of_service') %></a></li>
          <li><a href="#"><%= t('.privacy_policy') %></a></li>
          <li><span><%= render 'shared/copy' %></span></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--/footer-->