<header class="header sticky menu_fixed">
  <div class="container">
    <%= link_to root_path do %>
      <%= inline_svg_pack_tag 'media/images/logo-sticky.svg', class: 'logo_sticky', width: '150px', height: '36px' %>
    <% end %>
    <%= render 'shared/search_box' %>
    <div class="btn_mobile">
      <div class="hamburger hamburger--spin-r" id="hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <nav class="main-menu">
      <ul class="nav-menu">
        <% if user_signed_in? %>
          <div class="header-avatar not-clickable">
            <%= render(Profiles::AvatarComponent.new(src: cloudfront_src(filters: '200x200/filters:format(jpeg)/filters:quality(40)', thumbor_crop: thumbor_crop(current_user.profile.avatar_crop_constraints, current_user.profile.avatar&.metadata), image_key: current_user.profile.avatar.key ), size: 32)) %>
          </div>
          <li class="visible-menu-item">
            <%= link_to t('pins.new.create_pin'), new_pin_path, class: 'btn_1' %>
          </li>
        <% end %>
        <li class="visible-menu-item">
          <% if current_user.present? %>
            <span class="item"><%= link_to t('home'), pins_path, title: t('home') %></span>
          <% end %>
          <span class="item"><%= link_to t('explore.explore'), explore_index_path, title: t('explore.explore') %></span>
        </li>
        <% if user_signed_in? %>
          <div class="user-menu">
            <li>
              <%= link_to t('profile'), profile_path(current_user), title: t('profile') %>
            </li>
            <li>
              <%= link_to t('liked_pins'), liked_pins_pins_path, title: t('liked_pins') %>
            </li>
            <li>
              <%= link_to t('following_tags'), following_tags_tags_path, title: t('following_tags') %>
            </li>
            <li>
              <%= link_to t('boards.boards'), boards_path, title: t('boards.boards') %>
            </li>
            <li>
              <%= link_to t('boards.following_boards.title'), following_boards_boards_path, title: t('boards.following_boards.title') %>
            </li>
            <li>
              <%= link_to t('settings.settings'), settings_edit_profile_path, title: t('settings.settings') %>
            </li>
            <li>
              <%= button_to t('devise.sign_out'), destroy_user_session_path, method: :delete, title: t('devise.sign_out'), class: 'dropdown-item', data: { turbo: false } %>
            </li>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <li>
            <div class="dropdown dropdown-user">
              <%= link_to '#0', class: 'logged', 'data-toggle': 'dropdown', title: current_user.username do %>
                <div class="header-avatar">
                  <%= render(Profiles::AvatarComponent.new(src: cloudfront_src(filters: '200x200/filters:format(jpeg)/filters:quality(40)', thumbor_crop: thumbor_crop(current_user.profile.avatar_crop_constraints, current_user.profile.avatar&.metadata), image_key: current_user.profile.avatar.key ), size: 32)) %>
                </div>
              <% end %>
              <div class="dropdown-menu">
                <%= link_to t('profile'), profile_path(current_user), title: t('profile'), class: 'dropdown-item' %>
                <%= link_to t('liked_pins'), liked_pins_pins_path, title: t('liked_pins'), class: 'dropdown-item' %>
                <%= link_to t('following_tags'), following_tags_tags_path, title: t('following_tags'), class: 'dropdown-item' %>
                <%= link_to t('boards.boards'), boards_path, title: t('boards.boards'), class: 'dropdown-item' %>
                <%= link_to t('boards.following_boards.title'), following_boards_boards_path, title: t('boards.following_boards.title'), class: 'dropdown-item' %>
                <%= link_to t('settings.settings'), settings_edit_profile_path, title: t('settings.settings'), class: 'dropdown-item' %>
                <%= button_to t('devise.sign_out'), destroy_user_session_path, method: :delete, title: t('devise.sign_out'), class: 'dropdown-item', data: { turbo: false } %>
              </div>
            </div>
          </li>
        <% else %>
          <li class="visible-menu-item"><span>
            <%= link_to t('devise.sign_in'), new_user_session_path, id: 'sign-in', class: 'login', title: t('devise.sign_in') %>
          </span></li>
          <li class="visible-menu-item"><span>
            <%= link_to t('devise.sign_up'), new_user_registration_path, class: 'login', title: t('devise.sign_up') %>
          </span></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<!-- /header -->