<%= simple_form_for(current_user.profile, url: settings_profiles_update_path, html: { method: :put, class: 'edit-profile-form' }) do |f| %>
  <div class="form-group rounded-cropper"
      data-controller='instant-upload cropper'
      data-cropper-model-value='profile'
      data-cropper-crop-model-value='avatar_crop'
      data-cropper-cropper-type-value='rounded'>
      <%= f.hidden_field :avatar, value: f.object.avatar.signed_id, src: url_for(f.object.avatar), input_html: { 'data-instant-upload-target': 'input', 'data-action': 'instant-upload#changed' } if f.object.avatar.attached? %>
      <%= f.input :avatar, as: :file, input_html: { 'data-instant-upload-target': 'input',
            'data-action': 'instant-upload#changed' } %>
      <% if f.object.avatar.attached? %>
        <small><%= "#{t('photo.photo_name')}: " %> <%= f.object.avatar.blob.filename.to_s  %>. <%= t('photo.change_photo_info') %></small>
      <% end %>
      <p class="selected-image-area">
        <%= image_tag cloudfront_src(filters: 'filters:format(jpeg)/filters:quality(40)', thumbor_crop: thumbor_crop(current_user.profile.avatar_crop_constraints, current_user.profile.avatar&.metadata), image_key: current_user.profile.avatar.key ),
              class: 'rounded-circle user-avatar responsive', style: 'max-width: 400px; max-height: 400px',
              'data-instant-upload-target': 'image',
              'data-cropper-target': 'image',
              'data-action': 'instant-uploaded->cropper#changed' if current_user.profile.avatar.attached? && (current_user.profile.errors.blank? || !current_user.profile.avatar.changed?) %>

        <%= content_tag :img, nil, src: nil, width: 400, height: 400, style: 'visibility: hidden;',
              'data-instant-upload-target': 'image',
              'data-cropper-target': 'image',
              'data-action': 'instant-uploaded->cropper#changed load->cropper#changed',
              src: url_for((current_user.profile.avatar.attached?) ? f&.object&.avatar : '') if (!current_user.profile.avatar.attached? || current_user.profile.errors.present?) && (current_user.profile.avatar.changed? || current_user.profile.new_record? || current_user.profile.avatar&.url.blank?) %>
      </p>
  </div>
  <div class="form-group">
    <%= f.input :bio, input_html: { rows: 3 } %>
  </div>
  <%= f.button :submit, t('update'), class: 'btn_1 rounded' %>
<% end %>