<div class="container margin_100_55 settings">
  <div class="row col-lg-9 offset-lg-3 title">
    <div class="main_title_3">
      <span><em></em></span>
      <h2><%= t('settings.settings') %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 settings-sidemenu">
      <ul class="list-group">
        <%= link_to t('settings.change_password'), settings_change_password_path, title: t('settings.change_password'), class: 'black-link list-group-item list-group-item-action active' %>
        <%= link_to t('settings.change_username'), settings_change_username_path, title: t('settings.change_username'), class: 'black-link list-group-item list-group-item-action' %>
      </ul>
    </div>
    <div class="col-lg-9 settings-main">
      <div class="header">
        <h5><%= t('settings.change_password') %></h5>
      </div>
      <div class="body" id="change_password_form">
        <%= render 'settings/change_password_form' %>
      </div>
    </div>
  </div>
</div>