<div class="container margin_100_55">
  <div class="row col-lg-9 offset-lg-3">
    <div class="main_title_3">
      <span><em></em></span>
      <h2><%= t('settings.settings') %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 settings-sidemenu">
      <ul class="list-group">
        <%= link_to t('settings.change_password'), settings_password_path, title: t('settings.change_password'), class: 'black-link list-group-item list-group-item-action' %>
      </ul>
    </div>
    <div class="col-lg-9 settings-main">
      <div class="header">
        <h5><%= t('settings.change_password') %></h5>
      </div>
      <div class="body">
        <%= simple_form_for(current_user, url: registration_path(:user), html: { method: :put }) do |f| %>

          <div class="form-group">
            <%= f.input :password, input_html: { class: 'form-control', id: 'password1' }, hint: t('devise.minimum_characters', count: User.password_length.min) %>
          </div>

          <div class="form-group">
            <%= f.input :password_confirmation, input_html: { class: 'form-control', id: 'password2' } %>
          </div>

          <div class="form-group">
            <%= f.input :current_password, hint: t('.current_password_hint'), input_html: { class: 'form-control', id: 'password2' } %>
          </div>

          <%= f.button :submit, t('update'), class: 'btn_1 rounded' %>
        <% end %>
      </div>
    </div>
  </div>
</div>