<body id="login_bg">
	<nav id="menu" class="fake_menu"></nav>
	<!-- End Preload -->
	<div id="login">
		<aside>
			<figure>
        <%= link_to root_path do %>
          <%= image_pack_tag 'media/images/logo-sticky.png', size: '155x36', class: 'logo_sticky', 'data-retina': true, alt: '' %>
        <% end %>
			</figure>
      <div class="access_social" data-turbo="false">
        <%= button_to user_google_oauth2_omniauth_authorize_path, class: 'social_bt google', method: :post do %>
          <%= t('devise.sign_in_with_google') %>
        <% end %>
        <a href="#0" class="social_bt facebook"><%= t('devise.sign_in_with_facebook') %></a>
        <a href="#0" class="social_bt twitter"><%= t('devise.sign_in_with_twitter') %></a>
      </div>
      <div class="divider"><span><%= t('or') %></span></div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { 'data-turbo' => 'false' }) do |f| %>
        <div class="form-group">
          <%= f.input :login, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.input :password, input_html: { class: 'form-control', id: 'password' } %>
        </div>
        <div class="clearfix add_bottom_30">
					<div class="checkboxes float-left">
            <label class="container_check"><%= t('.remember_me') %>
              <input type="checkbox" name="user[remember_me]" id="user_remember_me">
              <span class="checkmark"></span>
            </label>
          </div>
          <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <div class="float-right mt-1">
              <%= link_to t('.forgot_password'), new_password_path(resource_name), id: 'forgot' %>
            </div>
          <% end %>
				</div>
        <%= f.button :submit, t('devise.sign_in'), class: 'btn_1 rounded full-width' %>
        <div class="text-center add_top_10">
          <%= t('devise.do_not_have_an_account') %>
          <strong>
            <%= link_to t('devise.sign_up'), new_user_registration_path %>
          </strong>
        </div>
        <div class="text-center add_top_10">
          <%= t('devise.confirmations.did_not_receive_confirmation_instructions') %>
          <strong>
            <%= link_to t('resend'), new_user_confirmation_path %>
          </strong>
        </div>
      <% end %>
      <div class="copy"><%= render 'shared/copy' %></div>
		</aside>
	</div>
	<!-- /login -->
</body>