<%= turbo_stream.update "add_to_board_section_list_body_#{dom_id(@pin)}" do %>
  <p class="sub-header"><%= t('activerecord.models.board') %></p>
  <%= render(Boards::ListItemForPinComponent.new(board: @board, pin: @pin, current_user: current_user)) %>
  <p class="sub-header"><%= t('board_sections.board_sections') %></p>
  <%= render(BoardSections::ListItemForPinComponent.with_collection(@board.board_sections, pin: @pin, current_user: current_user, drag_sort: @board.user == current_user)) %>
<% end %>