<% keywords = @board.pins.pluck(:cached_tag_list) << t('pin_base_keywords') %>
<% set_meta_tags alternate: { "en" => board_url(@board, locale: :en),
                              "tr" => board_url(@board, locale: :tr) },
                 description: @board.description&.body&.to_plain_text,
                 keywords: keywords.join(', ').split(', ').uniq.join(', ') %>
<% set_meta_tags og: {
      type:     'website',
      title: "#{@board.name} - Pinmapper",
      description: @board.description&.body&.to_plain_text,
      site: :site,
      image:    "https://res.cloudinary.com/pinmapper/image/upload/og_card_#{locale}.png",
      url: board_url(@board)
    } %>
<% set_meta_tags twitter: {
      card: "summary_large_image",
      title: "#{@board.name} - Pinmapper",
      description: @board.description&.body&.to_plain_text,
      site: :site,
      image:    "https://res.cloudinary.com/pinmapper/image/upload/og_card_#{locale}.png",
      url: board_url(@board)
    } %>

<div class="container margin_100_55">
  <div class="row">
    <div class="col-lg-12 board-show">
      <div class="header">
        <div class="main_title_3 small-h1">
          <span><em></em></span>
          <div class="title"><h1><%= title @board.name %></h1><div class="count"><%= "(#{@board.cached_pins_count})" %></div></div>
        </div>
        <%= render(General::TwinButtonComponent.new(
            display_block: -> {
              return if current_user.blank?

              @board.user != current_user
            },
            first_button: current_user&.following_boards&.exclude?(@board),
            record_dom_id: dom_id(@board),
            first_button_path: follow_board_path(@board),
            second_button_path: unfollow_board_path(@board)
          )) %>
        <%= render(Boards::MoreButtonComponent.new(board: @board, current_user: current_user, turbo: false)) %>
      </div>
      <% if @board.description.present? %>
        <div class="description" data-controller="gallery">
          <%= @board.description %>
        </div>
      <% end %>
      <% map_pins = Pin.joins(:boards, board_sections: :board).where(boards: { id: @board }, board_sections: { boards: { id: @board } }) %>
      <% marker_service = MapServices::GenerateMarkers::Pin.call(@map_pins) %>
      <% if marker_service[:success] && marker_service[:payload].present? %>
        <%= render(General::MapComponent.new(markers: marker_service[:payload])) %>
      <% end %>

      <div class="board-sections-header">
        <h2 class="title"><%= t('board_sections.board_sections') %></h2>
        <% if @board.user == current_user %>
          <%= link_to t('board_sections.index.create_new_board_section'), new_board_board_section_path(@board), class: 'btn_1 outline' %>
        <% end %>
      </div>

      <div class="body" data-controller="drag-sort" data-drag-sort-state-value="<%= @board.user == current_user %>">
        <%= render(BoardSections::ListItemForPinComponent.with_collection(@board.board_sections, pin: nil,current_user: current_user, drag_sort: @board.user == current_user)) %>
      </div>

      <h2 class="pins-header"><%= t('pins.pins') %></h2>
      <div id="infinite-pins" class="body" data-controller="drag-sort" data-drag-sort-state-value="<%= @board.user == current_user %>">
        <%= render Pins::SmallPinComponent.with_collection(@pins, options: { current_user: @current_user, board: @board, drag_sort: @board.user == current_user }) %>
        <!-- /pin_lists -->
      </div>
      <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy)) %>
    </div>
  </div>
</div>
<!-- /container -->
