<div id="<%= dom_id(board) %>" class="board" data-sort-url="<%= move_board_by_id_url %>">
  <div>
    <span><%= link_to "#{board.name}", board_path(board), class: "#{name_class} board-name", target: :_top %></span>
    <span class="soft-black-text">(<%= board.pins_count %>)</span>
    <% if show_privacy_badge %>
      <br>
      <small class="badge bg-<%= privacy_badge_class %> privacy"><%= board.translated_privacy %></small>
    <% end %>
  </div>
  <div class="item">
    <%= render(General::TwinButtonComponent.new(
      display_block: -> {
        return if current_user.blank?

        @board.user != current_user
      },
      first_button: current_user&.following_boards&.exclude?(@board),
      record_dom_id: dom_id(@board),
      first_button_path: follow_board_path(@board,
                                           first_button_class: first_twin_button_class,
                                           second_button_class: second_twin_button_class),
      second_button_path: unfollow_board_path(@board,
                                           first_button_class: first_twin_button_class,
                                           second_button_class: second_twin_button_class),
      first_button_class: first_twin_button_class,
      second_button_class: second_twin_button_class
    )) %>
    <%= render(Boards::MoreButtonComponent.new(board: board, current_user: current_user )) %>
  </div>
</div>
