<div id="<%= dom_id(@pin) %>" class="pin">
  <div class="header">
    <div class="user">
      <% user_profile = @pin.user.profile %>
      <%= render(Profiles::AvatarComponent.new(src: cloudinary_url(user_profile.avatar.key, transformation: [user_profile.avatar_crop_constraints, { width: 200, height: 200, crop: 'fill' }], quality: 'auto', flags: 'progressive'))) %>
      <div class="username-timeago">
        <span><%= link_to @pin.user.username, profile_path(@pin.user), class: 'username' %></span>
        <small class="time-ago"><%= "#{time_ago_in_words(@pin.created_at)} #{t('ago')}" %></small>
      </div>
    </div>
    <%= render(Pins::MoreButtonComponent.new(pin: @pin, current_user: @current_user )) %>
  </div>
  <div class="body">
    <div class="address"><i class="icon_pin_alt"></i>
      <span><%= link_to @pin.city_country, explore_location_path(@pin.token), class: 'black-link-555' %></span>
    </div>
    <% if @pin.cover_photo.attached? %>
      <%= cl_image_tag(@pin.cover_photo.key, transformation: [@pin.cover_photo_crop_constraints], quality: 'auto', flags: 'progressive', class: 'responsive cover-photo') %>
    <% end %>
    <div class="tags"><%= render(Taggable::TagListComponent.new(tags: @pin.tags)) %></div>
    <h3 class="name-h3"><%= link_to @pin.name, pin_path(@pin), class: 'name-link' %></h3>
    <p class="cover-photo-description"><%= @pin.cover_photo_description %></p>
    <%= render Pins::Boards::AddedByOwnerComponent.new(pin: @pin, current_user: @current_user) %>
  </div>
  <div class="footer">
    <%= render Pins::LikeButtonComponent.new(pin: @pin, current_user: @current_user) %>
    <%= render Pins::Boards::AddToBoardButtonComponent.new(pin: @pin, current_user: @current_user) %>
  </div>
</div>