<div id="<%= dom_id(@pin) %>" class="pin">
  <div class="header">
    <div class="user">
      <%= render(Profiles::AvatarComponent.new(src: asset_pack_path('media/images/avatar.jpg'))) %>
      <span><%= link_to @pin.user.email, profile_path(@pin.user), class: 'soft-black-link' %></span>
    </div>
    <%= render(Pins::MoreButtonComponent.new(pin: @pin, current_user: @current_user )) %>
  </div>
  <% if @pin.cover_image.attached? %>
    <%= image_tag @pin.cover_image.variant(@pin.cover_image_crop_constraints), class: 'responsive', alt: '' %>
  <% end %>
  <div class="body">
    <h3><%= link_to @pin.name, pin_path(@pin) %></h3>
    <p class="cover-image-description"><%= @pin.cover_image_description %></p>
    <%= render(Taggable::TagListComponent.new(tags: @pin.tags)) %>
    <small class="time-ago"><%= "#{time_ago_in_words(@pin.created_at)} #{t('ago')}" %></small>
  </div>
  <div class="footer">
    <%= render Pins::LikeButtonComponent.new(pin: @pin, current_user: @current_user) %>
    <%= render Pins::Boards::AddToBoardButtonComponent.new(pin: @pin, current_user: @current_user) %>
  </div>
</div>