<div class="small-pin" data-sort-url="<%= move_pin_url %>">
  <div class="image">
    <%= image_tag helpers.cloudfront_src(filters: '100x100/filters:format(jpeg)/filters:quality(40)', thumbor_crop: helpers.thumbor_crop(pin.cover_photo_crop_constraints, pin.cover_photo&.metadata), image_key: pin.cover_photo.key ), alt: '' if pin.cover_photo.attached? %>
  </div>
  <div class="body">
    <div>
      <h6><%= link_to truncate(pin.name, length: 40), pin, class: 'black-link', title: pin.name %></h6>
      <small><%= link_to pin.user.username, profile_path(pin.user), class: 'small-username' %></small>
    </div>
    <div class="item">
      <div><i class="icon_pin_alt"></i><small class="address" title="<%= pin.city_country %>"><%= truncate(pin.city_country, length: 30) %></small></div>
      <%= render Pins::Boards::AddToBoardButtonComponent.new(pin: pin, current_user: current_user, klass: 'small') %>
    </div>
  </div>
</div>