<div class="small-pin" data-sort-url="<%= move_url %>">
  <div class="image">
    <%= cl_image_tag(pin.cover_photo.key, transformation: [pin.cover_photo_crop_constraints, { width: 100, height: 100, crop: 'fill' }], quality: 'auto', flags: 'progressive', alt: '') if pin.cover_photo.attached? %>
  </div>
  <div class="body">
    <div>
      <h6><%= link_to truncate(pin.name, length: 40), pin, class: 'black-link', title: pin.name %></h6>
      <small><%= link_to pin.user.username, profile_path(pin.user), class: 'small-username' %></small>
    </div>
    <div class="item">
      <div><i class="icon_pin_alt"></i><small class="address" title="<%= pin.city_country %>"><%= truncate(pin.city_country, length: 30) %></small></div>
      <div class="small-add-to-board-button">
        <%= render Pins::Boards::AddToBoardButtonComponent.new(pin: pin, current_user: current_user) %>
      </div>
    </div>
  </div>
</div>