<div class="small-pin">
  <div class="image">
    <%= image_tag helpers.cloudfront_src(filters: '100x100/filters:format(jpeg)/filters:quality(40)', thumbor_crop: helpers.thumbor_crop(pin.cover_image_crop_constraints, pin.cover_image&.metadata), image_key: pin.cover_image.key ), alt: '' if pin.cover_image.attached? %>
  </div>
  <div class="body">
    <div>
      <h6><%= link_to truncate(pin.name, length: 40), pin, class: 'black-link', title: pin.name %></h6>
      <small><%= link_to pin.user.username, profile_path(pin.user), class: 'small-username' %></small>
    </div>
    <div>
      <i class="icon_pin_alt"></i><small class="address" title="<%= pin.city_country %>"><%= truncate(pin.city_country, length: 30) %></small>
    </div>
  </div>
</div>