<div class="container margin_100_55 location">
  <% marker_service = MapServices::GenerateMarkers::Pin.call(@pin) %>
  <% if marker_service[:success] && marker_service[:payload].present? %>
    <%= render(General::MapComponent.new(markers: marker_service[:payload])) %>
  <% end %>
  <h5 class="title"><i class="address-icon icon_pin_alt"></i><%= @pin.address %></h5>
  <% if @pins.present? %>
    <h6 class="top-pins"><%= t('top_pins') %></h6>
  <% end %>
  <div id="infinite-pins" class="row infinite-pins">
    <%= render(Pins::PinComponent.with_collection(@pins, current_user: current_user)) %>
  </div>
  <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy, records: @pins)) %>
</div>