<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Pinmapper', separator: "&#45;".html_safe, reverse: true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= favicon_pack_tag 'favicon.png' %>
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- GOOGLE MAPS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :maps, :api_key) %>&libraries=places&callback=initMap" async defer data-turbo-eval="false"></script>
    <%= render 'shared/google_tag_manager_head' %>
  </head>

  <body>
    <div id="page" data-controller="dropdown" data-action="click->dropdown#hide">
      <%= render 'shared/header' %>
      <main>
        <%= turbo_frame_tag "toastr" do %>
          <%= render 'shared/toastr' %>
        <% end %>
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
      <%= render 'shared/cookies_bar' %>
    </div>
    <div id="toTop"></div><!-- Back to top button -->
  </body>
  <%= render 'shared/google_tag_manager_body' %>
</html>
