<!DOCTYPE html>
<html>
  <head>
    <title>Pinmapper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- GOOGLE MAPS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:google_maps_api_key] %>&libraries=places&callback=initMap" async defer data-turbo-eval="false"></script>
  </head>

  <body>
    <div id="page">
      <%= render 'shared/header' %>
      <main>
        <%= render 'shared/toastr' %>
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </div>
    <div id="toTop"></div><!-- Back to top button -->
  </body>
</html>
