<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Pinmapper', separator: "&#45;".html_safe, reverse: true %>
    <%= display_meta_tags og: {
          type:     'website',
          title: :site,
          site_name: :site,
          image:    "https://res.cloudinary.com/pinmapper/image/upload/og_card_#{locale}.png"
        } %>
    <%= display_meta_tags twitter: {
          card: "summary_large_image",
          title: :site,
          site_name: :site,
          image:    "https://res.cloudinary.com/pinmapper/image/upload/og_card_#{locale}.png"
        } %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= favicon_pack_tag 'favicon.png' %>
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <%= render 'shared/google_tag_manager_head' %>
  </head>

  <div class="clearfix"></div>
  <body>
    <%= render 'shared/toastr' %>
    <%= yield %>
    <%= render 'shared/cookies_bar' %>
  </body>
  <%= render 'shared/google_tag_manager_body' %>
</html>
