<!DOCTYPE html>
<html>
  <head>
    <title>Pinmapper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= favicon_pack_tag 'favicon.png' %>
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  </head>

  <div class="clearfix"></div>
  <%= render 'shared/toastr' %>
  <%= yield %>
  </div>
</html>
